body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a2f2f;
    color: white;
}

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: grey;
    text-decoration: none;
    border-radius: 5px;
  }
  .button:hover {
    background-color: grey;
  }


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.sadaļa {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #5c3d3d;
    border-radius: 10px;
    float: left;
}

.sadaļa h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.sadaļa .saturs {
    text-align: left;
}

.sadaļa img {
    max-width: 100%;
    border: 3px solid white;
    border-radius: 10px;
}

.sadaļa p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.6;
}

body {
    background-color: #2d1515;
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #3b1d1d;
    padding: 15px 0;
}
.nav-button {
    background-color: #5a2d2d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    float: right;
}
.nav-button:hover {
    background-color: #794040;
}
iframe{
    display: flex;
    margin: 0 10px;
    margin-left: 34vw;
    margin-right: 34vw;

}